.completed {
  text-decoration: line-through;
}
.subWrapper {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.wrapper {
  width: 50%;
  margin: auto;
  text-align: center;
}
.inputText {
  width: 200px;
  margin-right: 10px;
}